<h1>Editing vehicle part</h1>

<%= render "form", vehicle_part: @vehicle_part %>

<br>

<div>
  <%= link_to "Show this vehicle part", @vehicle_part %> |
  <%= link_to "Back to vehicle parts", vehicle_parts_path %>
</div>
