<h1>Editing nonconformity type</h1>

<%= render "form", nonconformity_type: @nonconformity_type %>

<br>

<div>
  <%= link_to "Show this nonconformity type", @nonconformity_type %> |
  <%= link_to "Back to nonconformity types", nonconformity_types_path %>
</div>
