<h1>Editing nonconformity local</h1>

<%= render "form", nonconformity_local: @nonconformity_local %>

<br>

<div>
  <%= link_to "Show this nonconformity local", @nonconformity_local %> |
  <%= link_to "Back to nonconformity locals", nonconformity_locals_path %>
</div>
