<h1>Editing nonconformity level</h1>

<%= render "form", nonconformity_level: @nonconformity_level %>

<br>

<div>
  <%= link_to "Show this nonconformity level", @nonconformity_level %> |
  <%= link_to "Back to nonconformity levels", nonconformity_levels_path %>
</div>
